<div class= "container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
        <!-- want to add member's name above -->
        	<a class="navbar-brand" href="#/home">Political Campaign Contributions</a>
    </div>
  </nav>

	<div class="row">
		<div class="col-sm-12">
	  	<div class="jumbotron">
	  		<h3>Bill {{bill.billid}}: {{bill.billname}}</h2>
        <p>Date: {{bill.voteDate}}</p>
        <p>Bill Description: {{bill.description}}</p>
	  	</pre>
	  </div>
	</div>
  <div style="padding-left:20px">
    <h3>Sort by:</h3>
    <div class="btn-group inline pull-left" >
      <button  class="btn btn-default" type="button" ng-click="showDetails = ! showDetails" >By Vote</div>
      <button class="btn btn-default" type="button" ng-click="showDetails = ! showDetails">By Party</div>
    </div>
  </div>

  <div ng-hide="showDetails" style="padding-left:20px">
    <div class="row">
      <div class="col-md-6">
        <canvas id="pie" class="chart chart-pie" chart-data="counts" chart-labels="labels"></canvas>
      </div>
    </div>
    <div class="row">
    	<div class="col-md-4">
  	  	<h3>Yes</h3>
  	  	<dl ng-repeat = "member in bill.votes | filter:votedYay">
  	  		<a href = '#/member/{{member.id}}'><dt>{{member.member}}: {{member.party}}, {{member.state}}</dt></a>
  	  	</dl>
  	  </div>

  		<div class="col-md-4">
  			<h3>No</h3>
        <dl ng-repeat = "member in bill.votes | filter:votedNay">
          <a href = '#/member/{{member.id}}'><dt>{{member.member}}: {{member.party}}, {{member.state}}</dt></a>
        </dl>
  		</div>

      <div class="col-md-4">
        <h3>Abstain</h3>
        <dl ng-repeat = "member in bill.votes | filter:votedAbstain">
          <a href = '#/member/{{member.id}}'><dt>{{member.member}}: {{member.party}}, {{member.state}}</dt></a>
        </dl>
      </div>
    </div>
  </div>
  <div ng-show="showDetails" style="padding-left:20px">
    <div class="col-md-6">
      <h3> Republican Votes </h3>
      <canvas id="pie" class="chart chart-pie" chart-data="repcounts" chart-labels="labels"></canvas>
    </div>
    <div class="col-md-6">
      <h3> Democrat Votes </h3>
      <canvas id="pie" class="chart chart-pie" chart-data="demcounts" chart-labels="labels"></canvas>
    </div>
  </div>

</div>
