<div class= "container-fluid">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
        <!-- want to add member's name above -->
        	<a class="navbar-brand" href="#/home">Political Campaign Contributions</a>
      </div>
  	</nav>

  	<div class="row">
  		<div class="col-sm-12">
		  	<div class="jumbotron">
		  		<h2>{{member.name}}</h2>
         	 	<h4>{{member.party}}, {{member.state}}</h4>
         	 	
  
		  	</pre>
		</div>
  	</div>

  	<div class="row">
	  	<div class="col-sm-6" style="padding-left:30px">
		  	<h3>Bills Voted</h3>
		  	<dl ng-repeat = "bill in member.bills">
		  		<a href = '#/bill/{{bill.billid}}'><dt>{{bill.billid}}: {{bill.billname}}</dt></a>
					<dd>{{bill.description}}</dd>
					<dd>{{bill.vote}}</dd>
		  	</dl>
		</div>

		<div class="col-sm-6">
			<h3>Top 20 Industry Donors</h3>
			<dl ng-repeat = "donor in member.donors">
				<dt>{{donor.industry}}</dt>
				<dd>{{donor.amount | currency}}</dd>
        			<a ng-click="collapsed=!collapsed"> Click to analyze specific PAC donations </a>
			        <ul ng-repeat = "(pac,amount) in donor.pacs">
			          <dd ng-show="collapsed"> {{pac}}: {{amount | currency}}</dt>
			        </ul>
			</dl>
		</div>
	</div>
</div>
