<div>
  Bills
  <ul ng-repeat = "bill in member.bills">
      <li>{{bill.billid}}</li> <li>{{bill.description}}</li><li>{{bill.vote}}</li>
  </ul>
  <ul></ul>
  Donors
  <ul ng-repeat = "donor in member.donors">
      <li>{{donor.industry}}</li> <li>{{donor.amount | currency}}</li>
      <a ng-click="collapsed=!collapsed"> Click to expand </a>
        <ul ng-repeat = "(pac,amount) in donor.pacs">
          <li ng-show="collapsed"> {{pac}}: {{amount | currency}}</li>
        </ul>
  </ul>
</div>
